<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>
<body>
    <div id="corpo">
        <header id="topo">
            <nav>
                <a href="http://localhost:8080/php%20web/index.php">Home</a> |
                <a href=http://localhost:8080/php%20web/index.php?pagina=sobre">Sobre</a> |
                <a href=http://localhost:8080/php%20web/index.php?pagina=admin&metodo=index">Admin</a>
            </nav>
        </header>

        {{dinamica}}
    </div>
</body>
</html>